.App {
background-color: #E5E5E5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wrapper{
  margin-left: 20px;
  margin-right: 20px;

display:flex;
overflow-x:auto;


}
.wrapper::-webkit-scrollbar{
  width:0;
}
.wrapper .item{
  min-width:110px;
  height:110px;
  line-height: 110px;
  text-align:center;
  background-color:#F3F5F8;
  margin-right: 20px;
  border-radius: 50%;
  border:2px solid;
  margin-left: 15px;

}

.border{
  color: #518EF8;
  
}
.wrapper p{
  text-align:center
}
/*.wrapper .item:hover {
  color:blue;
  box-shadow: 5px 5px 5px gray;
  }
  p{
  padding-top:100px
  }
  */
  .distance{
    padding-top: 14px;
    text-align:center;
    border: solid 1px #ccc;

    margin-right: 20px;
    height: 40px;
    width: 50px;
    border-radius: 5px;
    background-color:rgba(243, 245, 248, 1);
  }
  .distanceClick{
    padding-top: 14px;
    text-align:center;
    border: solid 1px #ccc;
    margin-right: 20px;
    height: 40px;
    width: 50px;
    background-color: #518EF8;
    border-radius: 5px;
color:white;

  }
  .Container{
    background-color: white;
    padding-left: 5%;
    border-radius: 15px;
    /* margin-left: 5px; */
    padding-top: 20px;
    padding-bottom: 20px;
    width:60%;
    display:inline-block
  }
  .useFor{
    margin-right: 5%;
    border: solid 1px #ccc;
    padding:15px 25px;
    border-radius:5px;
    background-color:rgba(243, 245, 248, 1);
    -ms-flex: 1;
    flex:1;
    width: 300px;
  }
  .useForClick{
    margin-right: 5%;
    border: solid 1px #ccc;
    padding:15px 25px;
    background-color:#518EF8;
    border-radius:5px;
    color:white;
    -ms-flex: 1;
    flex:1;
    width: 300px;
  }
  .input{
    margin:10px;
  }
  .coll{
    margin-right: 5%;
    border: solid 1px #ccc;
    padding-top: 10px;
padding-bottom: 10px;
    border-radius:5px;
    background-color:rgba(243, 245, 248, 1);
    width:300px;
    text-align:center;

  }
  .collClick
  {
    margin-right: 5%;
    border: solid 1px #ccc;
padding-top: 10px;
padding-bottom: 10px;
    background-color:#518EF8;
    border-radius:5px;
    color:white;
    width:300px;
    text-align:center;
  }
  .addMore{
padding: 43px 140px;
border-radius: 10px;
border :2px dotted rgba(57, 75, 99, 0.4);
margin-top:3%;
margin-bottom: 3%;
color:#394B63;
text-align:center;

    font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 18px;
display:flex;
  }
  .check{
    display:inline-block;
    width:33%;
  }

  .howlonginsured{
    border: solid 1px #ccc;
    display: inline-block;
    margin-right: 3%;
    height: 66px;
    width: 13%;
    border-radius: 5px;
    padding-left: 25px;
    background-color:rgba(243, 245, 248, 1);
    
  }
  .howlonginsuredclick{
    border: solid 1px #ccc;
    display: inline-block;
    margin-right: 3%;
    height: 66px;
    width: 13%;
    border-radius: 5px;
    padding-left: 25px;
    background-color: #518EF8;
    color:white;
  }
  .priorInsurance{
    height:132px;
    width:132px;
    background-color:rgba(243, 245, 248, 1);
border: 1px solid #DEE7ED;
border-radius: 15px;
margin-right: 3%;
display: inline-block;
  }
  .priorInsuranceclick{
    height:132px;
    width:132px;
    background-color:rgba(243, 245, 248, 1);
    border: 2px solid #518EF8;
    box-shadow: 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    border-radius: 15px;
margin-right: 3%;
display: inline-block;
  }
  .tik{
    height:29.7px;
    width:29.7px;
    border-radius: 50%;
    background-color: #518EF8;
    float:right;
    margin:-10px;
    display:none;
  }
  .tikclick{
    height:29.7px;
    width:29.7px;
    border-radius: 50%;
    background-color: #518EF8;
    float:right;
    margin:-10px;
    color:white;
    text-align: center;
    font-size: 25px;
    
  }
  .menuItem img {
    padding-left: 15px;
}
img {
  vertical-align: middle;
  border-style: none;
}
.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}
.flex-grow-1 {
  -ms-flex-positive: 1!important;
  flex-grow: 1!important;
}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}
.pl-2, .px-2 {
  padding-left: 1rem!important;
}
.m-0 {
  margin: 0!important;
}
.menuItem {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  position: relative;
}
.menuGroup{
  border-radius: 10px;
  margin: 20px;
}
.pl-5, .px-5 {
  padding-left: 3rem!important;
}
.pr-3, .px-3 {
  padding-right: 1rem!important;
}
.topMenu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.topMenu ul{
  display: flex;
  flex: 1;
  padding: 0;
  margin: 5px 0;
  z-index: 99;
}
.topMenu ul li {
  list-style-type: none;
  padding: 0 25px 0 0;
  position: relative;
  cursor: pointer;
}